.fundo {
    background-image: url(../image/Feitiços.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 80px;
}

.feitiços {
    color: white;
    text-align: center;
}

.feitiço {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    margin:  auto;
}

.feitiço h2 {
    color: goldenrod;
}

.feitiço p {
    font-size: 18px;
    line-height: 1.5;
}