.fundo {
    background-image: url(../image/Reliquias.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu{
    list-style: none;
    padding: 0;
    display: flex;

}

.menu1 {
display: inline; 
margin-right: 20px; 
}


.menu2 {
text-decoration: none; 
color: white; 
font-weight: bold; 
}

.frame1{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
    margin-top: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 1330px;
    height: 90px;
}

.Lenda{
    font-size: 20px;
    color: white;
}


.frame2{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-200%, -50%);
    width: 300px;
    height: 325px;
}

.Varinha{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: white;
}

.frame3{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 300px;
    height: 325px;
}

.Pedra{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: white;
}

.frame4{
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate( 200%, 10%);
    width: 300px;
    height: 325px;
    }

.Capa{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: white;
}


.cor{
    color: red;
}

